.container{
    width: 950px;
    background-color: lightgrey;
    margin: 0px auto;
    padding: 20px;
}

h1 {
    color: rgb(50, 50, 50);
    font-family: 'Trebuchet MS';
    font-size: 80px;
    text-align: center;
}

.Series1 {
    
    background-color: rebeccapurple;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.Gatitos2 {
    background-color: darkblue;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.Pelis3 {
    background-color: cyan;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}